

html{
    height: 100%;
}
/* Space out content a bit */
body{
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    font-family: "Raleway";
    font-weight: 300;
    color: #FFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

div.col-md-2{
    float: left;
    height: 100%;
}

div.col-md-10{
    margin: 0px;
    padding: 0px;
}

body.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid.ng-scope{
    height: 100%;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/*div.ng-scope{
    height: 100%;
    width: 100%;
}*/

div.container-fluid.ng-scope{
    margin: 0px;
    padding: 0px;
    /* 'position: fixed' fixes main.html but thwarts gallery.html */
}

.container-fluid{

}

/*----------------------*/
/*  ANIMATION CLASSES   */
/*----------------------*/

.evolve-white{
    color: #FFFFFF;
}

    .dd                         { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    .da                         { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    .dn                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .dg                         { animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
    .de                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .dr                         { animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

    .zz                         { animation-delay:1.4s; -moz-animation-delay:1.4s; -webkit-animation-delay:1.4s; }
    .zo                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .zn                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .ze                         { animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }

    /* sidebar */
    #side-home                  { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    #side-about                 { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    #side-work                  { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    #side-contact               { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }

    /* content */
    #content                    { animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
        #content img            { animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }

/* TWITTER */

    .tw-outside             { display:block; height:55px; position:relative; }
    .tw-text, .tw-click     { display:block; height:100%; padding-top:15px; position:absolute; width:100%;
        transition:0.3s ease all;
    }

/* twitter rectangles =================================================== */
#twitter-rectangle .tw-outside         { background:#0081b7; display:block; height:55px; position:relative; }

#twitter-rectangle .tw-text, #twitter-rectangle .tw-click { display:block; height:100%; padding-top:15px; position:absolute; width:100%;
    transition:0.3s ease all;
}
#twitter-rectangle .tw-text            { font-size:20px; font-weight:700; z-index:9999; } /* set font sizing and make sure the text is above the button using z-index */
#twitter-rectangle .tw-click           { z-index:8888; }

/* twitter 1 ------------------------------------- */
#tw-1                   { overflow:hidden;  } /* overflow hidden so nothing shows up outside of our container div */
#tw-1 .tw-click         { margin-top:-100px; } /* the button starts above so it can slide down */

/* on hover */
#tw-1:hover .tw-text      { margin-top:100px; } /* pull our text down */
#tw-1:hover .tw-click     { margin-top:0; } /* pull our button down to be in view */

/* twitter 2 ------------------------------------ */
#tw-2                     {  } /* no overflow hidden so that the panel moves above our container */
#tw-2 .tw-text            { background:#42e7ff; }
#tw-2 .tw-click           {  }

/* on hover */
#tw-2:hover .tw-text      { margin-top:-55px; }
#tw-2:hover .tw-click     {  }


/*----------------------*/
/*    PROJECT PAGE      */
/*----------------------*/

.project-header, .project-description, .project-screenshot, .project-screencast, .project-developers, .project-socialicons{
    text-align: center;
    font-family: "Raleway";
    font-size: 1em;
    font-weight: 300;
    color: #000;
    height: 50%;
}

.project-header{
    font-size: 3em;
    height: 15%;
    clear: left;
    float: left;
    padding-right: 15px;
}

.project-header span.fa{
    text-decoration: none;
    color: black;
}

.project-pitch{
    color: black;
    font-size: 1.6em;
    clear: both;
    /*padding-bottom: 30px;*/
    /*border-bottom: 1px solid gray;*/
}

p.project-description{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-description > span{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-github{
    border-bottom: 1px solid gray;
}

.project-container{
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}

p.project-developers{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-developers > span{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-developers > div{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-section{
    background-color: #36454F;
    margin-left: 10%;
    margin-right: 10%;
    color: #000;
}

@media(max-width: 5000px){
    .project-screenshot{
        height: 720px;
    }
}

@media(max-width: 1400px){
    .project-screenshot{
        height: 500px;
    }
}

@media(max-width: 870px){
    .project-screenshot{
        height: 300px;
    }
}

.project-socialicons > span, .project-socialicons > div{
    float: left;
    font-size: 2.5em;
}

.project-screencast{
    width: 100%;
    height: 700px;
    /*background-color: #A34;*/
}

@media(max-width: 5000px){
    .project-screencast{
        height: 720px;
    }
}

@media(max-width: 1400px){
    .project-screencast{
        height: 500px;
    }
}

@media(max-width: 870px){
    .project-screencast{
        height: 300px;
    }
}

.project-dev-icons{
    display: inline;
    padding-left: 1%;
}

.project-dev-icons span{
    color: black;
}

/*----------------------*/
/*    GALLERY PAGE      */
/*----------------------*/

.fixHole{
    display: none;
}

a.fa{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

#gallery-holy{
    font-family: "Raleway";
    padding-left: 200px;
}

div.navigation.col-md-2{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.gallery-row{
    height: 450px;
    width: 100%;
    /*background-color: #333;*/
    font-size: 2em;
    text-align: center;
    border: 5px solid #000;
    padding: 0px 0px 0px 0px;
}

@media(max-width: 5000px){
    .gallery-row{
        height: 450px;
    }
}

@media (max-width: 1400px){
    .gallery-row{
        height: 350px;
    }
}

@media (max-width: 1199px){
    .gallery-row{
        height: 350px;
    }
}

@media(max-width: 990px){
    .gallery-row{
        height: 500px;
    }
}

#gallery-sidebar{
    background-color: black;
    font-weight: normal;
    margin-left: -200px;
    text-align: center;
    font-size: 2em;
    padding-top: 15px;
    width: 200px;
    min-height: 100%;
    position: fixed;
}

#gallery-header{
    font-weight: 600;
    font-size: 0.65em;
    padding: 5px;
    margin: 0px;
}

#gallery-subheader{
    font-weight: 400;
    font-size: 1.0em;
    margin: 0px;
}

#gallery-subheader, #gallery-header{
    color: #FFF;
}

#gallery-search{
    width: 80%;
    border: solid 1px black;
    font-size: 0.65em;
    font-weight: 200;
    color: black;
}

.photo{
    height: 300px;
    max-width: 100%;
    display: block;
    border: 1px white solid;
}

.gallery-info > .overlay {
    height: 100%;
    width: 100%;
    /*position:absolute;*/
    background-color: #000;
    opacity: 0.65;
    display: block;
}

#gallery-search{
    border-radius: 20px;
}

.gallery-info > .overlay > h1, p{
    color: #FFF;
    font-weight: 500;
}

.gallery-info > .overlay > h1{
    font-size: 0.9em;
    color: #FFF;
}

.gallery-info > .overlay > p{
    font-size: 0.65em;
}

@media (max-width: 1200px){
    #gallery-header, #gallery-subheader{
        font-size: 0.8em;
    }
    #gallery-search{
        font-size: 0.5em;
    }
}

@media (max-width: 950px){
    #gallery-subheader, #gallery-header{
        font-size: 0.8em;
    }
    #gallery-search{
        font-size: 0.5em;
    }
}


/*@media(max-width: 900px){
    #gallery-sidebar{
        width: 90px;
    }
}*/

/*#gallery-isotope{
    padding: 0px;
}*/

/*----------------------*/
/*    MAIN PAGE         */
/*----------------------*/

.main-title{
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    margin: 0 auto;
}

.main-fixed{
    position: fixed;
    height: 100%;
    width: 100%;
}

#main-header{
    font-size: 1.65em;
    font-weight: 400;
}

#main-subheader{
    font-size: 2.3em;
    font-weight: 300;
}

.main-container{
    margin: 0 auto;
}

#main-input{
    margin-right: -5px;
}

@media (max-width: 1100px){
/*    #main-header{
        font-size: 1.2em;
    }*/
    #main-subheader{
        font-size: 1.7em;
    }
/*    #main-browse{
        width: 35px;
        height: 20px;
        font-size: 1em;
        text-align: center;
    }*/
}
/*
@media (max-width: 900px){
    #main-header{
        font-size: 1.8em;
    }
    #main-subheader{
        font-size: 1.0em;
    }
    #main-browse{
        width: 30px;
        height: 15px;
        font-size: 0.6em;
        text-align: left;
    }
}*/

.main-footer{
    text-align: center;
    color: #CCC;
}

/*--------------------------------------*/


