

html{
    height: 100%;
}
/* Space out content a bit */
body {
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    font-family: "Raleway";
    font-weight: 200;
    color: #EEE;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

div.col-md-3{
    float: left;
    height: 100%;
}

div.col-md-9{
    margin: 0px;
    padding: 0px;

}

body.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid.ng-scope{
    height: 100%;
    /*padding: 0px;*/
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/* GALLERY PAGE */

.row{
/*    float: right;
    padding: 15px;
    display: inline-block;*/
    height: 100%;
}

.ng-scope{
    height: 100%;
}

/*div.container.ng-scope{
    margin: 0px;
    padding: 0px;
}*/

/*.container-fluid{

}*/

div.navigation.col-md-3{
    padding: 0px;
 /*   margin: 0px;*/
    height: 100%;
}

div.gallery-row{
    height: 200px;
    width: 200px;
    background-color: #333;
    margin: 23px;
    display: inline-block;
}

#gallery-sidebar{
    background-color: black;
    font-weight: normal;
    text-align: center;
    font-size: 2em;
    padding-top: 40px;
    width: 100%;
    height: 100%;
}

input.form-control{
    width: 80%;
    margin: 0 auto;
}

.row{
    height: 100%;
}

/* ANIMATION CLASSES */

.evolve-white{
    color: #FFF;
    font-weight: 300;
}

.evolve-red{
    color: red;
}

/*--------------------------------------*/
/* MAIN PAGE */
/*--------------------------------------*/

.main-title {
    text-align: center;
    margin: 100px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.turn-red {
    color: #7F0000;
}

.main-section {
    text-align: center;
    font-size: 1.5em;
}

.sign-up input{
    color: black;
    font-size: 0.85em;
/*    background-color: black;
    opacity: 0.5;*/
}

.sign-up button{
    font-weight: 100;
}

#main-input{
    margin-right: -5px;
}

.main-footer {
    text-align: center;
    color: #CCC;
}

/*--------------------------------------*/


/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Custom page header */
.header {
/*    border-bottom: 1px solid #e5e5e5;
*/}

/* Make the masthead heading the same height as the navigation */
/*.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-weight: 200;
}*/

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #CCC;
/*    border-top: 1px solid #e5e5e5;*/
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
/*.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: none;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}*/

/* Supporting marketing content */
/*.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
/*  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }*/
  /* Space out the masthead */
/*  .header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
/*  .jumbotron {
    border-bottom: 0;
  }*/
}
