

html{
    height: 100%;
}
/* Space out content a bit */
body{
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    font-family: "Raleway";
    font-weight: 300;
    color: #FFF;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

div.col-md-2{
    float: left;
    height: 100%;
}

div.col-md-10{
    margin: 0px;
    padding: 0px;
}

body.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid.ng-scope{
    height: 100%;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/*div.ng-scope{
    height: 100%;
    width: 100%;
}*/

div.container-fluid.ng-scope{
    margin: 0px;
    padding: 0px;
    /* 'position: fixed' fixes main.html but thwarts gallery.html */
}

.container-fluid{

}

/*----------------------*/
/*  ANIMATION CLASSES   */
/*----------------------*/

.evolve-white{
    color: #FFFFFF;
}

    .dd                         { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    .da                         { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    .dn                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .dg                         { animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
    .de                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .dr                         { animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

    .zz                         { animation-delay:1.4s; -moz-animation-delay:1.4s; -webkit-animation-delay:1.4s; }
    .zo                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .zn                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .ze                         { animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }

    /* sidebar */
    #side-home                  { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    #side-about                 { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    #side-work                  { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    #side-contact               { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }

    /* content */
    #content                    { animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
        #content img            { animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }

/*----------------------*/
/*    PROJECT PAGE      */
/*----------------------*/

.project-header, .project-description, .project-screenshot, .project-screencast, .project-developers, .project-socialicons{
    text-align: center;
    font-family: "Raleway";
    font-size: 1em;
    font-weight: 300;
    color: #000;
    height: 50%;
}

.project-header{
    font-size: 3em;
    height: 15%;
    clear: left;
    float: left;
    padding-right: 15px;
}

.project-header > a{
    text-decoration: none;
    color: black;
}

.project-pitch{
    color: black;
    font-size: 1.4em;
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

p.project-description{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-description > span{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-github{
    border-bottom: 1px solid gray;
}

.project-container{
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}

p.project-developers{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-developers > span{
    color: black;
    font-size: 1.6em;
    text-align: left;
}

.project-developers > div{
    color: black;
    font-size: 1.6em;
    text-align: left;
}


.project-section{
    background-color: black;
    margin-left: 10%;
    margin-right: 10%;
    color: #000;
}

.project-screenshot{
    height: 500px;
}

.project-socialicons{
    height: 60px;
    width: 100%;
    font-size: 1.2em;
    background-color: black;
    padding: 15px;
}


/*----------------------*/
/*    GALLERY PAGE      */
/*----------------------*/

a.fa{
    text-decoration: none;
    color: black;
    padding-left: 10px;
}

#gallery-holy{
    font-family: "Raleway";
    padding-left: 200px;
}

div.navigation.col-md-2{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.gallery-row{
    height: 450px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 14px solid #000;
    padding: 0px 0px 0px 0px;
}

@media (max-width: 1199px){
    .gallery-row{
        height: 600px;
    }
}

#gallery-sidebar{
    background-color: black;
    font-weight: normal;
    margin-left: -200px;
    text-align: center;
    font-size: 2em;
    padding-top: 40px;
    width: 200px;
    min-height: 100%;
    position: fixed;
}

#gallery-header{
    font-weight: 600;
    font-size: 0.65em;
    padding: 10px;
}

#gallery-subheader{
    font-weight: 400;
    font-size: 1.0em;
}

#gallery-subheader, #gallery-header{
    color: #FFF;
}

#gallery-search{
    width: 80%;
    border: solid 1px black;
    font-size: 0.65em;
    font-weight: 200;
    color: black;
}

.photo{
    height: 300px;
    max-width: 100%;
    display: block;
    border: 1px white solid;
}

.gallery-info > .overlay {
    height: 100%;
    width: 100%;
    position:absolute;
    background-color: #000;
    opacity: 0.65;
    display: block;
}

.gallery-info > .overlay > h1, p{
    color: #FFF;
    font-weight: 500;
}

.gallery-info > .overlay > h1{
    font-size: 1.0em;
    color: #FFF;
}

.gallery-info > .overlay > p{
    font-size: 0.8em;
}

@media (max-width: 1200px){
    #gallery-header, #gallery-subheader{
        font-size: 0.8em;
    }
    #gallery-search{
        font-size: 0.5em;
    }
}

@media (max-width: 950px){
    #gallery-subheader, #gallery-header{
        font-size: 0.8em;
    }
    #gallery-search{
        font-size: 0.35em;
    }
}


@media(max-width: 900px){
    #gallery-sidebar{
        display: none;
        margin-left: 200px;
    }
}

/*----------------------*/
/*    MAIN PAGE         */
/*----------------------*/

.main-title{
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #FFF;
    margin: 0 auto;
}

.main-fixed{
    position: fixed;
    height: 100%;
    width: 100%;
}

#main-header{
    font-size: 1.65em;
    font-weight: 400;
}

#main-subheader{
    font-size: 2.3em;
    font-weight: 300;
}

.main-container{
    margin: 0 auto;
}

#main-input{
    margin-right: -5px;
}

@media (max-width: 1100px){
/*    #main-header{
        font-size: 1.2em;
    }*/
    #main-subheader{
        font-size: 1.7em;
    }
/*    #main-browse{
        width: 35px;
        height: 20px;
        font-size: 1em;
        text-align: center;
    }*/
}
/*
@media (max-width: 900px){
    #main-header{
        font-size: 1.8em;
    }
    #main-subheader{
        font-size: 1.0em;
    }
    #main-browse{
        width: 30px;
        height: 15px;
        font-size: 0.6em;
        text-align: left;
    }
}*/

.main-footer{
    text-align: center;
    color: #CCC;
}

/*--------------------------------------*/


