

html{
    height: 100%;
}
/* Space out content a bit */
body{
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    font-family: "Raleway";
    font-weight: 200;
    color: #EEE;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

div.col-md-2{
    float: left;
    height: 100%;
}

div.col-md-10{
    margin: 0px;
    padding: 0px;
}

body.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid.ng-scope{
    height: 100%;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/* MASONRY CLASSES */

/*.masonry-brick {
    height: 450px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    padding: 10% 0%;
}

.test{
    height: 600px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    padding: 10% 0%;
}

.masonry-brick.loaded {
    display: block;
}*/


/*GALLERY PAGE*/

div.ng-scope{
    height: 100%;
    width: 100%;
}

div.container-fluid.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid{

}

div.navigation.col-md-2{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.gallery-row{
    height: 450px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    padding: 10% 0%;
}

#gallery-sidebar{
    background-color: black;
    font-weight: normal;
    /*font-family: "Open Sans Condensed";*/
    text-align: center;
    font-size: 2em;
    padding-top: 40px;
    width: 100%;
    min-height: 100%;
    position: absolute;
    /* THE SIDEBAR EXTENSION CODE */
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    overflow: hidden;
    /* END CODE */
}

#gallery-header{
    font-weight: 400;
    font-size: 1.15em;
}

#gallery-subheader{
    font-weight: 300;
    font-size: 1.15em;
}
/* NEED MEDIA QUERIES TO ADJUST THE SUBHEADER SIZE FOR MEDIUM, SMALL, AND XTRASMALL DEVICES*/

#gallery-search{
    width: 80%;
    border: solid 1px black;
    font-size: 0.65em;
    font-weight: 200;
    color: black;
}

@media (max-width: 1170px){
    #gallery-header, #gallery-subheader{
        font-size: 1.0em;
    }
}

@media (max-width: 950px){
    #gallery-subheader, #gallery-header{
        font-size: 0.8em;
    }

}

.content{
    position: relative;
}


/* ANIMATION CLASSES
*/
.evolve-white{
    color: #FFF;
    font-weight: 300;
}

.evolve-red{
    color: red;
}

/*--------------------------------------
/* MAIN PAGE */
/*--------------------------------------*/

.main-title{
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#main-header{
    font-size: 4em;
}

#main-subheader{
    font-size: 1.3em;
}

.turn-red{
    color: #7F0000;
}

.main-browse{
    font-size: 1.5em;
}

#main-input{
    margin-right: -5px;
}

.main-footer{
    text-align: center;
    color: #CCC;
}

/*--------------------------------------*/


/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Custom page header */
.header {
/*    border-bottom: 1px solid #e5e5e5;
*/}

/* Make the masthead heading the same height as the navigation */
/*.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    font-weight: 200;
}*/

/* Custom page footer */
.footer{
    padding-top: 19px;
    color: #CCC;
/*    border-top: 1px solid #e5e5e5;*/
}

/* Customize container */
@media (min-width: 768px){
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
/*.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: none;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}*/

/* Supporting marketing content */
/*.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
/*  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }*/
  /* Space out the masthead */
/*  .header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
/*  .jumbotron {
    border-bottom: 0;
  }*/
}
