

html{
    height: 100%;
}
/* Space out content a bit */
body{
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    font-family: "Raleway";
    font-weight: 200;
    color: #EEE;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

div.col-md-2{
    float: left;
    height: 100%;
}

div.col-md-10{
    margin: 0px;
    padding: 0px;
}

body.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid.ng-scope{
    height: 100%;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

div.ng-scope{
    height: 100%;
    width: 100%;
}

div.container-fluid.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid{

}

/* ANIMATION CLASSES */
.evolve-white{
    color: #FFF;
    font-weight: 300;
}

.evolve-red{
    color: red;
}

/*----------------------*/
/*    PROJECT PAGE      */
/*----------------------*/
/*PENDING*/


/* MASONRY CLASSES */

/*.masonry-brick {
    height: 450px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    padding: 10% 0%;
}

.test{
    height: 600px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    padding: 10% 0%;
}

.masonry-brick.loaded {
    display: block;
}*/

/*----------------------*/
/*    GALLERY PAGE      */
/*----------------------*/
#gallery-holy{
    font-family: "Open Sans Condensed";
}

div.navigation.col-md-2{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.gallery-row{
    height: 450px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
/*    display: inline-block;*/
    padding: 10% 0%;
}

#gallery-sidebar{
    background-color: black;
    font-weight: normal;
    /*font-family: "Open Sans Condensed";*/
    text-align: center;
    font-size: 2em;
    padding-top: 40px;
    width: 100%;
    min-height: 100%;
    position: absolute;
    /* THE SIDEBAR EXTENSION CODE */
    margin-bottom: -5000px;
    padding-bottom: 5000px;
    overflow: hidden;
    /* END CODE */
}

#gallery-header{
    font-weight: 400;
    font-size: 0.8em;
}

#gallery-subheader{
    font-weight: 400;
    font-size: 1.5em;
}

#gallery-subheader, #gallery-header{
    color: #CCC;
}

#gallery-search{
    width: 80%;
    border: solid 1px black;
    font-size: 0.65em;
    font-weight: 200;
    color: black;
}

@media (max-width: 1200px){
    #gallery-header, #gallery-subheader{
        font-size: 0.9em;
    }
    #gallery-search{
        font-size: 0.5em;
    }
}

@media (max-width: 950px){
    #gallery-subheader, #gallery-header{
        font-size: 0.8em;
    }
    #gallery-search{
        font-size: 0.35em;
    }
}

.content{
    position: relative;
}




/*----------------------*/
/*    MAIN PAGE         */
/*----------------------*/
.main-title{
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#main-header{
    font-size: 3.3em;
}

#main-subheader{
    font-size: 1.8em;
}

#main-input{
    margin-right: -5px;
}

@media (max-width: 1100px){
    #main-header{
        font-size: 2.3em;
    }
    #main-subheader{
        font-size: 1.3em;
    }
/*    #main-browse{
        width: 35px;
        height: 20px;
        font-size: 1em;
        text-align: center;
    }*/
}
/*
@media (max-width: 900px){
    #main-header{
        font-size: 1.8em;
    }
    #main-subheader{
        font-size: 1.0em;
    }
    #main-browse{
        width: 30px;
        height: 15px;
        font-size: 0.6em;
        text-align: left;
    }
}*/



.main-footer{
    text-align: center;
    color: #CCC;
}

/*--------------------------------------*/


