

/* ANIMATIONS
============================================================================= */

    /* logo */
    .dd                         { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    .da                         { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    .dn                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .dg                         { animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
    .de                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .dr                         { animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

    .zz                         { animation-delay:1.4s; -moz-animation-delay:1.4s; -webkit-animation-delay:1.4s; }
    .zo                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .zn                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .ze                         { animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }

    /* sidebar */
    #side-home                  { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    #side-about                 { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    #side-work                  { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    #side-contact               { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }

    /* content */
    #content                    { animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
        #content img            { animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }
/*----------------------------------------------------------*/

html{
    height: 100%;
}
/* Space out content a bit */
body{
/*    padding-top: 20px;
    padding-bottom: 20px;*/
    font-family: "Raleway";
    font-weight: 200;
    color: #EEE;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

div.col-md-2{
    float: left;
    height: 100%;
}

div.col-md-10{
    margin: 0px;
    padding: 0px;
}

body.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid.ng-scope{
    height: 100%;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

/*div.ng-scope{
    height: 100%;
    width: 100%;
}*/

div.container-fluid.ng-scope{
    margin: 0px;
    padding: 0px;
}

.container-fluid{

}

/*----------------------*/
/*  ANIMATION CLASSES   */
/*----------------------*/

.evolve-white{
    color: #FFF;
    font-weight: 300;
}

.evolve-red{
    color: red;
}

/*----------------------*/
/*    MASONRY CLASSES   */
/*----------------------*/

/*.masonry-brick {
    height: 450px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    padding: 10% 0%;
}

.test{
    height: 600px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    display: inline-block;
    padding: 10% 0%;
}

.masonry-brick.loaded {
    display: block;
}*/


/*----------------------*/
/*    PROJECT PAGE      */
/*----------------------*/

.project-header, .project-description, .project-screenshot, .project-screencast, .project-developers, .project-socialicons{
    text-align: center;
    font-family: "Open Sans Condensed";
    font-size: 1em;
    font-weight: 400;
    color: #000;
    height: 50%;
}

.project-header{
    font-size: 3em;
    height: 15%;
}

.project-github{
    height: 20%;
}

.project-container{
    width: 400px;
    height: 800px;
}



/*----------------------*/
/*    GALLERY PAGE      */
/*----------------------*/

#gallery-holy{
    font-family: "Open Sans Condensed";
    padding-left: 200px;
}

div.navigation.col-md-2{
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.gallery-row{
    height: 450px;
    background-color: #333;
    font-size: 2em;
    text-align: center;
    border: 1px solid white;
    padding: 10% 0%;
}

#gallery-sidebar{
    background-color: black;
    font-weight: normal;
    margin-left: -200px;
    text-align: center;
    font-size: 2em;
    padding-top: 40px;
    width: 200px;
    min-height: 100%;
    /*PENDING: position: fixed*/
    position: fixed;
    /* THE SIDEBAR EXTENSION CODE */
/*    margin-bottom: -5000px;
    padding-bottom: 5000px;
    overflow: hidden;*/
    /* END CODE */
}

#gallery-header{
    font-weight: 400;
    font-size: 0.8em;
}

#gallery-subheader{
    font-weight: 400;
    font-size: 1.5em;
}

#gallery-subheader, #gallery-header{
    color: #CCC;
}

#gallery-search{
    width: 80%;
    border: solid 1px black;
    font-size: 0.65em;
    font-weight: 200;
    color: black;
}

.photo{
    height: 300px;
    max-width: 100%;
    display: block;
    border: 1px white solid;
}

@media (max-width: 1200px){
    #gallery-header, #gallery-subheader{
        font-size: 0.9em;
    }
    #gallery-search{
        font-size: 0.5em;
    }
}

@media (max-width: 950px){
    #gallery-subheader, #gallery-header{
        font-size: 0.8em;
    }
    #gallery-search{
        font-size: 0.35em;
    }
}

.content{

}




/*----------------------*/
/*    MAIN PAGE         */
/*----------------------*/

.main-title{
    text-align: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

#main-header{
    font-size: 3.3em;
}

#main-subheader{
    font-size: 1.8em;
}

#main-input{
    margin-right: -5px;
}

@media (max-width: 1100px){
    #main-header{
        font-size: 2.3em;
    }
    #main-subheader{
        font-size: 1.3em;
    }
/*    #main-browse{
        width: 35px;
        height: 20px;
        font-size: 1em;
        text-align: center;
    }*/
}
/*
@media (max-width: 900px){
    #main-header{
        font-size: 1.8em;
    }
    #main-subheader{
        font-size: 1.0em;
    }
    #main-browse{
        width: 30px;
        height: 15px;
        font-size: 0.6em;
        text-align: left;
    }
}*/

.main-footer{
    text-align: center;
    color: #CCC;
}

/*--------------------------------------*/


