

<div id="gallery-holy">
        <div class="navigation ">
            <!-- col-lg-2 col-md-2 col-sm-2 col-xs-0 -->
            <div id="gallery-sidebar">
                <p id="gallery-header" class="zo animated fadeInLeft" ng-class="{'evolve-red': event1 === true}" ng-mouseenter="event1 = true" ng-mouseleave="event1 = false">
                    <span style="font-weight: bold;">FULLSTACK</span> ACADEMY
                    <span style="font-family: Times;">
                        <em>of</em>
                    </span>
                    CODE
                    <br><br>
                </p>
                <p id="gallery-subheader" class="zo animated flash" ng-class="{'evolve-red': event2 === true}" ng-mouseenter="event2 = true" ng-mouseleave="event2 = false">
                    THE
                    <br>
                    PROJECTS
                </p>
                <br>
                <input id="gallery-search" class="zn animated fadeIn" type="search" placeholder="  Search" ng-model="search">
            </div>
        </div>
        <div class="zn animated fadeIn content" ng-repeat="project in projectData | filter: searchFunc">
            <div ng-show="project.screenshotLink !== ''">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 gallery-row" style="background-image: url('{{project.screenshotLink}}'); background-size: cover; background-repeat: no-repeat; background-position: 50% 0%;" ng-mouseenter="mouseEvent = true" ng-mouseleave="mouseEvent = false" ng-class="{'gallery-info': mouseEvent === true}">
                    <div class="overlay" ng-show="mouseEvent === true" ng-click="$location.path('/project/' + project.id)"> <br><br><br><br><br><br>
                        <h1>{{project.projectName}}</h1>
                        <p>{{project.projectPitch}}</p>
                    </div>
                </div>
            </div>

        </div>

</div>