

<div>
        <div class="navigation col-md-3 col-sm-3 col-xs-0">
            <div id="gallery-sidebar">
                Fullstack Academy
                <br>
                Projects Gallery
                <br><br><br><br>
                <div>
                    <input type="text" class="form-control" place="Search" value="Search">
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12 content">
            <div class="row">
                <div class="col-md-3 gallery-row"></div>
                <div class="col-md-3 gallery-row"></div>
                <div class="col-md-3 gallery-row"></div>
                <div class="col-md-3 gallery-row"></div>
            </div>
        </div>
</div>