

<div ng-include="'partials/navbar'"></div>

<div class="main-title" turnred>
      <h1>Fullstack Academy <span style="font-family: Times New Roman;"><em>of</em></span> Code<!-- <span ng-show="currentUser">{{ currentUser.name }}</span> --></h1>
      <p class="lead">
    <!--     <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps. -->
      </p>
    <!--   <p><a class="btn btn-lg btn-success" ng-href="#"></a></p>
     -->

</div>

<div class="main-section">
    Signup with LinkedIn to upload your projects
    <br><br><br>
    Login with LinkedIn if you have already signed up
    <br>
     <!-- First step: Add LinkedIn framework to the page: -->
    <script type="text/javascript" src="http://platform.linkedin.com/in.js">
        api_key: 775wtefbwpel6v
        // authorize: true
    </script>

    <!-- Step two: Sign in with LinkedIn button: -->
    <script type="in/Login">
        Hello, <?js= firstName ?> <?js= lastName ?>.
    </script>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="footer main-footer">
    <p>Fullstack Academy, Making Great People Into Great Developers</p>
</div>



<!-- Set up dynamic background images:  -->
<script>
    $.backstretch([
        'images/wall-pearl-1.jpg',
        'images/broad-st-1.jpg',
        'images/ny-stock-exchange.jpg',
        'images/wall-pearl-2.jpg',
        'images/broad-st-3.jpg',
        ], {speed: 100});
</script>




