

<div ng-include="'partials/navbar'"></div>

<div class="main-title" turnred>
      <h1>Fullstack Academy <span style="font-family: Times New Roman;"><em>of</em></span> Code<!-- <span ng-show="currentUser">{{ currentUser.name }}</span> --></h1>
      <p class="lead">
    <!--     <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps. -->
      </p>
    <!--   <p><a class="btn btn-lg btn-success" ng-href="#"></a></p>
     -->
</div>

<div class="row marketing">
<!--   <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div> -->
</div>

<div class="footer main-footer">
    <p>Fullstack Academy, Making Great People Into Great Developers</p>
</div>
    <script>
        $.backstretch([
            'images/wall-pearl-1.jpg',
            'images/broad-st-1.jpg',
            'images/ny-stock-exchange.jpg',
            'images/wall-pearl-2.jpg',
            'images/broad-st-3.jpg',
            ], {speed: 100});
    </script>




