

<div ng-include="'partials/navbar'"></div>

<div class="main-title" ng-class="{'evolve-red': adi === true}" ng-mouseenter="adi = true" ng-mouseleave="adi = false">
      <h1>Fullstack Academy <span style="font-family: Times New Roman;"><em>of</em></span> Code<!-- <span ng-show="currentUser">{{ currentUser.name }}</span> --></h1>
</div>

<div class="main-section">
    <p ng-class="{'evolve-white': Andrew === true}" ng-mouseenter="Andrew = true" ng-mouseleave="Andrew = false">Login via LinkedIn to upload your awesome projects.</p>
    <div class="sign-up">
        <a class="btn btn-danger btn-md active" href='/auth/linkedin' target="_self">Upload</a>
        <br><br><br>
        <p ng-class="{'evolve-white': Stav === true}" ng-mouseenter="Stav = true" ng-mouseleave="Stav = false">Just take a look around</p>
        <button class="btn btn-danger btn-md active">Browse</button>
    </div>
</div>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="footer main-footer">
    <p ng-class="{'evolve-white': footer === true}" ng-mouseenter="footer = true" ng-mouseleave="footer = false">Fullstack Academy, Making Great People Into Great Developers</p>
</div>



<!-- Set up dynamic background images:  -->
<script>
    $.backstretch([
        'images/wall-pearl-1.jpg',
        // 'images/broad-st-1.jpg',
        'images/broad-st-2.jpg',
        // 'images/brooklyn-1.jpg',
        'images/manhattan-1.jpg',
        ], {fade: 1000}, {duration:4000});
</script>




