

<!--
<div class="project-floatLeft">
</div> -->
<div style="background-color: black;">
<section class="project-section">
    <div class="project-container">
        <div class="project-screenshot">
            <img style="height: 100%; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: 50% 0%;" src="{{projectData.screenshotLink}}" class="da animated fadeIn">
        </div>
        <br><br>
        <p class="project-header zo animated bounceInLeft">
            {{projectData.projectName}}
                <a href="{{projectData.github}}" class="fa fa-github"></a>
        </p>
        <br><br><br><br>
        <p class="project-pitch zo animated bounceInLeft">
            {{projectData.projectPitch}}
        </p>
        <br><br>
        <p class="project-description zn animated bounceInLeft">
            <span>Description</span>
            <br><br>
            {{projectData.projectDescription}}
        </p>
        <br>
<!--         <div class="project-screencast" ng-show="projectData.screencastLink !== ''">
            Screencast goes here
        </div> -->
        <br>
        <p class="project-developers zz animated bounceInLeft">
            <span>Meet the Developers</span>
            <br>
            <div class="zz animated bounceInLeft" ng-repeat="dev in projectData.developers" style="font-size: 1.5em; font-weight: normal;">
                {{dev}}
            </div>
        </p>
        <br><br>
        <div class="project-socialicons">

        </div>
    </div>

    <!-- <div class="project-floatRight">
    </div> -->
</section>
</div>

